annotated-types==0.5.0
anyio==3.7.1
astroid==2.15.8
autopep8==2.0.4
Babel==2.12.1
black==23.9.1
cairocffi==1.6.1
CairoSVG==2.7.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
coverage==7.3.1
cssselect2==0.7.0
defusedxml==0.7.1
dill==0.3.7
dnspython==2.4.2
email-validator==2.0.0.post2
fastapi==0.103.1
ghp-import==2.1.0
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
idna==3.4
iniconfig==2.0.0
isort==5.12.0
Jinja2==3.1.2
lazy-object-proxy==1.9.0
Markdown==3.4.4
MarkupSafe==2.1.3
mccabe==0.7.0
mergedeep==1.3.4
mkdocs==1.5.2
mkdocs-material==9.2.8
mkdocs-material-extensions==1.1.1
mkdocs-static-i18n==1.0.3
motor==3.3.2
mypy-extensions==1.0.0
packaging==23.1
paginate==0.5.6
pathspec==0.11.2
Pillow==10.0.1
platformdirs==3.10.0
pluggy==1.3.0
pycodestyle==2.11.0
pycparser==2.21
pydantic==2.6.1
pydantic-dbmodel-core==0.0.3
pydantic_core==2.16.2
pyflakes==3.1.0
Pygments==2.16.1
pylint==2.17.6
pymdown-extensions==10.3
pymongo==4.5.0
pytest==7.4.1
pytest-asyncio==0.21.1
pytest-cov==4.1.0
python-dateutil==2.8.2
python-multipart==0.0.6
PyYAML==6.0.1
pyyaml_env_tag==0.1
regex==2023.8.8
requests==2.31.0
six==1.16.0
sniffio==1.3.0
starlette==0.27.0
tinycss2==1.2.1
tomlkit==0.12.1
typing_extensions==4.7.1
urllib3==1.26.6
uvicorn==0.23.2
watchdog==3.0.0
webencodings==0.5.1
wrapt==1.15.0
